@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #fc8607;
  --clr-secondary: #ffa117;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
